.planos {
  background-color: rgb(51, 51, 51);
  padding: 0 0.5rem;
  text-align: center;
}

.planos h2 {
  font-size: 2rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  color: antiquewhite;
}

.carrossel-container {
  position: relative;
  max-width: 100vw;
  margin: 0 auto;

  border: 3px solid purple;
}

.carrossel {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 2fr));
  gap: 1.5rem;
  padding: 1rem;
}

.carrossel-item {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 16px;
  padding: 2rem;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;

  color: white;
  text-align: start;
  border: 1px solid rgba(255, 255, 255, 0.3);
  width: 100%;
}

.carrossel-item:hover {
  transform: scale(1.03);
  box-shadow: 0 0px 3px greenyellow;
}

.item-categoria {
  color: #ff7e3b;
  text-align: center;
  font-size: 1.5rem;
  padding-bottom: 0.3rem;
}

.item-info h3 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.item-info p,
.item-info li {
  font-size: 0.9rem;
  margin-bottom: 0.25rem;
  text-align: left;
}

.item-beneficios {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0.5rem;
}

.item-beneficios li::before {
  content: "✔️";
  margin-right: 0.5rem;
  color: #ff7e3b;
}

.item-preco {
  font-weight: bold;
  color: #ff7e3b;
  margin-top: 0.5rem;
}

.item-destaque {
  border: 3px solid gold;
}
.item-destaque:hover {
  box-shadow: 0 0px 12px goldenrod;
}
