.perfil {
  padding: 2rem;
  max-width: 900px;
  margin: auto;
  background-color: blue;
  border: 2px solid orange;
}

.perfil-header {
  display: flex;
  gap: 2rem;
  align-items: center;
  margin-bottom: 2rem;
}

.perfil-header img {
  width: 150px;
  height: auto;
  border-radius: 50%;
  object-fit: cover;
}

.perfil-section {
  margin-bottom: 2rem;
}

.perfil-section ul {
  padding-left: 1.5rem;
  list-style: circle;
}

.perfil-galeria .galeria {
  display: flex;
  gap: 1rem;
}

.perfil-galeria img {
  width: 100%;
  max-width: 300px;
  border-radius: 12px;
}
