.contatoPage {
  text-align: center;
  width: 100%;
  background-color: var(--fourth-color);
}

.contatoPage-titulo {
  padding: 2rem;
  font-size: 2rem;
  margin-bottom: 1.5rem;
  color: var(--primary-color);
}

.contatoPage > p {
  font-size: 1.1rem;
  color: #cacaca;
  margin-bottom: 2rem;
  line-height: 1.5;
}

.contatoPage-infos {
  background-color: var(--secundary-color);
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin: 2rem 0;
  flex-wrap: wrap;
  padding: 3rem;
  font-size: 1.2rem;
}

.contatoPage-infos > div {
  padding: 1.5rem;
  border-radius: 15px;
  min-width: 250px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  /* border: 1px solid red; */
}

.contatoPage-infos > div:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 30px rgba(78, 77, 77, 0.2);
}

.contatoPage-infos h3 {
  color: var(--primary-color);
  font-size: 1.3rem;
  margin-bottom: 1rem;
  font-weight: 600;
}

.contatoPage-infos p {
  color: var(--third-color);
  margin-bottom: 0.5rem;
  font-size: 1rem;
}

.contatoPage-infos a {
  color: var(--primary-color);
  text-decoration: none;
  font-weight: 500;
  transition: all 0.3s ease;
}

.contatoPage-infos a:hover {
  color: #76d13b;
  text-shadow: 0 0 10px rgba(118, 209, 59, 0.5);
}

.contatoPage-agendamento {
  margin-bottom: 2rem;
}

.contatoPage-agendamento h3 {
  color: var(--primary-color);
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-weight: 600;
}

.contatoPage-agendamento ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.contatoPage-agendamento li {
  background-color: var(--primary-color);
  border-radius: 10px;
  padding: 1rem 1.5rem;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.contatoPage-agendamento li:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
}

.contatoPage-agendamento a {
  color: var(--fourth-color);
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
}

.contatoPage-agendamento a:hover {
  font-weight: bold;
}

/* Mobile */
@media (max-width: 767px) {
  .contatoPage {
    padding: 1.5rem;
  }

  .contatoPage-titulo {
    font-size: 1.8rem;
  }

  .contatoPage-infos {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .contatoPage-infos > div {
    width: 100%;
    max-width: 300px;
    min-width: auto;
  }

  .contatoPage-agendamento ul {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .contatoPage-agendamento li {
    width: 100%;
    max-width: 250px;
    text-align: center;
  }
}

/* Mapa */
.contatoPage-mapa-container {
  margin-top: 2rem;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.contatoPage iframe {
  display: block;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 1.5rem;
  border-radius: 16px;
}
