:root {
  --primary-color: #76d13b;
  --secundary-color: #0e2d2d;
  --third-color: #d9d9d9;
  --fourth-color: #0b1014;
  --fifth-color: #ccff00;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: sans-serif;
  /* background-color: #f0f0f0; */
  background-color: var(--fourth-color);
}

/* Cores */
/* 
color: #ccff00; 
background-color: #1a1a1a;

Planos - card
background: rgba(40, 40, 40, 0.85); +  backdrop-filter: blur(8px);
box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);
color: #f0f0f0;

preço span: color: #9aff9a;


*/
